<!DOCTYPE html>
<html>

<head>
    <title>Sujet</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <style type="text/css" media="screen">
        code {
            background-color: white;
        }
    </style>    
</head>

<body>
    <div class="container">
        <%= @body %>
    </div>    
</body>

</html>